.cv {
  .ant-tabs {
    .ant-tabs-nav {
      position: sticky;
      top: 0;
      background: rgba(255, 255, 255, 0.9);
      z-index: 1;
      @apply px-3 backdrop-blur-sm;
    }

    .ant-tabs-content-holder {
      @apply px-3 py-2;
    }
  }
}